# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test
coverage/
.nyc_output/

# Prisma
apps/api/node_modules/.prisma/
apps/api/node_modules/@prisma/

#NX
.nx/cache
.nx/workspace-data
.angular